.container-navbar {
    background-color: green;
    width: 100%;
    height: 15vh;
    border: 1px solid black;
}

.ul-navbar {
    display: flex;
    height: 100px;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}

.kotak1{
    background-color: yellow;
    width: 20%;
    height: 30%;
    margin-top: 3em;
    position:absolute;
    border: 1px solid black;
}
.kotak2{
    background-color: yellow;
    width: 20%;
    height: 30%;
    margin-top: 18em;
    position:absolute;
    border: 1px solid black;
}

.kotak3{
    background-color: red;
    width: 75%;
    height: 30%;
    margin-top: 3em;
    margin-left: 20em;
    position: absolute;
    border: 1px solid black;
}

.kotak4{
    background-color: blue;
    width: 75%;
    height: 30%;
    margin-top: 18em;
    margin-left: 20em;
    position: absolute;
    border: 1px solid black;
}